.packageSection {
    justify-content: center;
    align-self: stretch;
    background: var(--bg, #ececec);
    display: flex;
    flex-direction: column;
    overflow: hidden;
    line-height: 2;
    padding: 50px 100px;
  }
  
  @media (max-width: 991px) {
    .packageSection {
      padding: 0 20px;
    }
  }
  
  .packageContent {
    align-self: center;
    display: flex;
    width: 510px;
    max-width: 100%;
    flex-direction: column;
    text-align: center;
    justify-content: center;
  }
  
  .packageHeader {
    display: flex;
    width: 100%;
    flex-direction: column;
    font-weight: 400;
    justify-content: start;
  }
  
  @media (max-width: 991px) {
    .packageHeader {
      max-width: 100%;
    }
  }
  
  .packageTitle {
    color: var(--Primary-Soft-Green, #004f4a);
    font: 32px Archivo Black, sans-serif;
  }
  
  @media (max-width: 991px) {
    .packageTitle {
      max-width: 100%;
    }
  }
  
  .packageDescription {
    color: var(--Grey, #656565);
    font: 16px Inter, sans-serif;
  }
  
  @media (max-width: 991px) {
    .packageDescription {
      max-width: 100%;
    }
  }
  
  .packageTypeSelector {
    align-items: center;
    border-radius: 999px;
    background: var(--White, #fff);
    align-self: center;
    display: flex;
    margin-top: 16px;
    width: 250px;
    max-width: 100%;
    gap: 8px;
    white-space: nowrap;
    justify-content: start;
    padding: 12px;
    font: 16px Inter, sans-serif;
  }
  
  @media (max-width: 991px) {
    .packageTypeSelector {
      white-space: initial;
    }
  }
  
  .packageTypeButton {
    align-self: stretch;
    border-radius: 999px;
    padding: 16px;
    gap: 36px;
    flex: 1;
    margin: auto 0;
  }
  
  .packageTypeButtonActive {
    background: var(--Primary-Soft-Green, #004f4a);
    color: var(--White, #fff);
    font-weight: 600;
  }
  
  .packageTypeButtonInactive {
    color: var(--Primary-Soft-Green, #004f4a);
    font-weight: 400;
  }
  
  @media (max-width: 991px) {
    .packageTypeButton {
      white-space: initial;
    }
  }
  
  .packageGrid {
    display: flex;
    margin-top: 48px;
    width: 100%;
    align-items: center;
    gap: 40px 50px;
    overflow: hidden;
    font-family: Inter, sans-serif;
    font-weight: 600;
    justify-content: center;
    flex-wrap: wrap;
  }
  
  @media (max-width: 991px) {
    .packageGrid {
      max-width: 100%;
      margin-top: 40px;
    }
  }
  
  .packageCard {
    padding-bottom: var(--sds-size-space-600);
    justify-content: center;
    border-radius: var(--Corner-Medium, 12px);
    background: var(--White, #fff);
    align-self: stretch;
    display: flex;
    min-width: 240px;
    flex-direction: column;
    overflow: hidden;
    gap: var(--sds-size-space-400);
    flex: 1;
    flex-basis: 0%;
    margin: auto 0;
  }
  
  .packageImageWrapper {
    display: flex;
    flex-direction: column;
    position: relative;
    aspect-ratio: 1.9;
    width: 100%;
    align-items: start;
    font-size: 16px;
    color: var(--White, #fff);
    padding: 122px 70px 20px;
  }
  
  @media (max-width: 991px) {
    .packageImageWrapper {
      padding: 100px 0 0 20px;
    }
  }
  
  .packageImage {
    position: absolute;
    inset: 0;
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center;
  }
  
  .packageLabel {
    position: relative;
    justify-content: center;
    align-items: center;
    border-radius: var(--Corner-Small, 8px) var(--Corner-None, 0px) var(--Corner-None, 0px) var(--Corner-Small, 8px);
    display: flex;
    padding: var(--sds-size-space-400);
    gap: 8px;
  }
  
  .packageLabelIcon {
    aspect-ratio: 1;
    object-fit: contain;
    object-position: center;
    width: 24px;
    align-self: stretch;
    margin: auto 0;
  }
  
  .packageInfo {
    display: flex;
    margin-top: 16px;
    width: 100%;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    padding: 0 24px;
  }
  
  @media (max-width: 991px) {
    .packageInfo {
      padding: 0 20px;
    }
  }
  
  .packageDetails {
    display: flex;
    width: 100%;
    max-width: 100%;
    flex-direction: column;
    justify-content: start;
  }
  
  .packageName {
    color: var(--Black, #000);
    font-size: 20px;
  }
  
  .packagePrice {
    color: var(--Secondary-Yellow, #b8923d);
    font-size: 16px;
  }
  
  .visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border: 0;
  }